<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Booking Engine</title>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
	<div id="header"> 
		<h1>Booking Engine</h1>
	</div>
	<div id="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a class="active" href="/book">Book a Flight</a></li>
			<li><a href="/display">Find a Booking</a></li>
			<li><a href="/cancel">Cancel a Booking</a></li>
			<li><a href="/stats">Statistics</a></li>
		</ul>
	</div>
	
	<div class="content">
		<div id="myform">
			<form "{{ url_for('book') }}" method="post">
				<label for="origin">From:</label>
				<input type="text" id="origin" name="origin" placeholder="LHR">
				
				<label for="dest">To:</label>
				<input type="text" id="dest" name="destination" placeholder="FRA">
				
				<label for="fdat">Date</label>
				<input type="date" id="fdat" name="flightdate">
				
				<input type="submit" value="Submit" id="searchbutton">
			</form>
		</div>
	
	<div class="output">
			<table>
				<thead>
					<tr>
						<th>Flight Number</th>
						<th>Flight Date</th>
						<th>Departure Time</th>
						<th>Arrival Time</th>
						<th>Origin</th>
						<th>Destination</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
						{% for f in flights %}
					<tr>
						<td>{{f.flight_no}}</td>
						<td>{{f.date}}</td>
						<td>{{f.dep_time}}</td>
						<td>{{f.arr_time}}</td>
						<td>{{f.origin}}</td>
						<td>{{f.destination}}</td>
						<td>
							<form>
								<input type="submit" value="Book" id="cancelbutton">
							</form>
						</td>
					</tr>
						{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	
	<div id="footer">
		<p>2020</p>
	</div>

</body>
</html>
